#parent {
    flex-direction: row;
    display:flex;
}

.container {
    background-color: rgba(185, 185, 185, 0.5);
    border-radius: 20px;
    min-height:30em;
    min-width: 20em;
    text-align: center;

}

#left-container{
    margin-right: 20px;
    margin-left: auto;
}

#right-container{
    margin-right: auto;
    margin-left: 20px;
}

.button {
    border-color: transparent;
}