<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodBud</title>

    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet'>
</head>
<body>

    <img id="icon" src="../static/assets/icon.png" alt="BloodBud icon: Patients First">

    <h2 style="margin-top:0;">Login:</h2>

    <div id="loginFormDiv">
        <form action="" id="loginForm" method="get">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" required>
            </div>
            
            <br>
        
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" required>
            </div>

            <a href="http://127.0.0.1:5000/menu/" id="loginBtn">Enter</a>

            
    
        </form>
    </div>
    

    
    
    <script src="../static/js/login.js"></script>
    
</body>
</html>