<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodBud - Menu</title>

    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/reports.css">
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet'>
</head>

<body>

    <h1>Menu</h1>

    <a class ="card" href="http://127.0.0.1:5000/index//">Upload New Report</a>
    <a class ="card" href="http://127.0.0.1:5000/reports">View Previous Reports</a>
    <a class ="card" href="http://127.0.0.1:5000/">Log Out</a>
    
</body>
</html>