<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BloodBud - Reports</title>

    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/reports.css">
    <link href='https://fonts.googleapis.com/css?family=Laila' rel='stylesheet'>
</head>

<body>

    <h1>Previous Blood Reports</h1>

    <a class ="card" href="../static/assets/reports/sample_report.pdf">2025-1-25.pdf</a>
    <a class ="card" href="../static/assets/reports/sample_report2.pdf">2024-10-31.pdf</a>
    <a class ="card" href="../static/assets/reports/sample_report.pdf">2024-08-21.pdf</a>    
    <a href="http://127.0.0.1:5000/menu">Back</a>    
    
</body>
</html>